<span (mousedown) = "blurFlag = false" 
    (mouseout) = "blurFlag = true"
    style="display: inline-block">
    <span [ngFormModel] = "dateControlGroup">
        <input id = "widget_datepicker_text_control" type="text" 
            [readonly] = "disableTyping" 
            [placeholder]="dateFormat" 
            [ngFormControl] = "dateControlGroup.controls[controlName]"
            [(ngModel)] = "formattedDate"
            [class.error] = "displayedTextCssClass" 
            maxlength = "10" 
            size="32" 
            (click) = "onInputButtonClick($event)" 
            style="padding:5px;font-weight:bold;max-width:18em;"
            [style.border-color] = "!displayedTextCssClass ? 'black' : 'red'"
            (blur) = "onLostFocus()"
            (focus) = "onGotFocus()"
            (keyup) = "insertSlashAsPerFormat($event)"
            (keyup) = "immediateFeedback()">

        <img src = "../../../assets/images/widgets/datepicker/datepicker.png" (click) = "onIconClick($event)">
    </span>
    <div [style.maxwidth] = "showWeeks ? '280px' : '270px'">
        <span [hidden] = "hiddenFlag" >
            <datepicker [(ngModel)]="date" 
                (ngModelChange) = "onDateChange()" 
                [showWeeks]="showWeeks" 
                [minDate] = "minDate" 
                [maxDate] = "maxDate"
                [minMode] = "'day'" 
                [maxMode] = "'day'">
            </datepicker>
        </span>
    </div>
</span>
<div *ngIf = "showHelpText">
    <span 
        [ngClass] = "{'error glyphicon glyphicon-remove-sign':displayedTextCssClass}">
    </span>
    <span [class.error] = "displayedTextCssClass" style="max-width:25em;word-wrap: break-word; font-weight:bold;">
        {{displayedText}}
    </span>
</div>